AGENTOS_DATABASE_URL=
AGENTOS_REDIS_URL=
AGENTOS_MINIO_ENDPOINT=
AGENTOS_MINIO_ACCESS_KEY=
AGENTOS_MINIO_SECRET_KEY=
AGENTOS_MINIO_BUCKET=
AGENTOS_SESSION_PEPPER=
AGENTOS_MASTER_KEY=
AGENTOS_PUBLIC_ORIGIN=
AGENTOS_AUTH_PROXY_SECRET=
